body{
    background-image: url(web_img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

h1{
    text-align: center;
}
#level img{
    width: 25%;
    margin-left: 6.25%;
    height: 300px;
    margin-top: 100px;
}

/**************/
    /*Game*/
/**************/

#test{
    margin-top: 5%;
    width: 60%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

#naam{
    text-align: center;
    font-family: 'Pangolin', cursive;
}

.title {
    color: white;
    font-family: 'Pangolin', cursive;
}

input {
    background-color: rgba(0,0,0,0.1);
    color: white;
    border: none;
}

input#terug {
    height: 40px;
    margin-top: 20px;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

input#terug:hover {
    background-color: rgb(68,68,68);
    opacity: 0.5;
}


/*/game*/

/**************/
  /*Credits*/
/**************/
.credits {
    font-family: 'Pangolin', cursive;
    text-align: center;
    list-style-type: none;
}

.credits_title {
    font-family: 'Pangolin', cursive;
    text-align: center;
    margin-left: 4%;
}

.credits_container {
    margin-right: 4%; 
}
/*/credits*/

/**************/
  /*Controls*/
/**************/

.controls {
    font-family: 'Pangolin', cursive;
    color: white;
    text-align: center;
}

#dick {
    margin-left: 200px;
}


/* Tables */

table {
    width:100%;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 5px;
    text-align: left;
    text-align: center;
    
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
    text-align: center;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
   text-align: center;
}
table#t01 th {
    background-color: black;
    color: white;
    text-align: center;
}